/*-----------------GLOBAL-----------------------*/

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  margin: 0;
  color: currentColor;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

address {
  font-family: normal;
}

button {
  cursor: pointer;
}

.container {
  max-width: 100%;
  width: 1158px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*----------------------------------------*/

/*-----------------HEADER-----------------------*/

.header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  padding: 0 15px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-navigation-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  display: block;
}

.header-navigation-logo:hover,
.header-navigation-logo:focus {
  color: #404bbf;
}

.logo-web {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-menu-list {
  display: flex;
  gap: 40px;
}

.header-menu-link-first::after {
  content: "";
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.header-address {
  font-style: normal;
}

.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  position: relative;
}

.header-menu-link-first {
  color: #404bbf;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-list {
  display: flex;
  gap: 40px;
  margin-left: 332px;
  padding-top: 24px;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.address-item-link {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item-link:focus,
.address-item-link:hover {
  color: var(--OCEAN, #404bbf);
}

/*----------------------------------------*/

/*-----------------HERO-----------------------*/

.hero {
  padding: 188px 0px;
  flex-shrink: 0;
  background-color: var(--NAVY-BLUE, #2e2f42);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  color: var(--WHITE, #fff);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button-os {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  align-items: flex-start;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button-os:focus,
.hero-button-os:hover {
  background-color: #404bbf;
}

/*----------------------------------------*/

/*-----------------VALUES-----------------------*/

.values {
  padding: 120px 0px;
}

.values-list {
  display: flex;
  gap: 24px;
}

.values-list-images {
  display: flex;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  align-items: center;
  justify-content: center;
  padding: 24px 100px;
  margin-bottom: 8px;
}

.values-list-item {
  width: calc((100% - 24px * 3) / 4);
}

.values-item-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.values-list-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*----------------------------------------*/

/*-----------------TEAM-----------------------*/

.team {
  background: var(--CLOUD, #f4f4fd);
  padding: 120px 0px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  display: block;
}

.team-list-img {
  align-items: center;
  width: 100%;
}

.team-personal-container {
  padding: 32px 0px;
}

.team-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-list-text {
  color: var(--SLATE, #434455);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-social-icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.team-social-icon {
  background-color: #4d5ae5;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.team-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

.svg-soc-team {
  fill: #f4f4fd;
}

/*----------------------------------------*/

/*-----------------PORTFOLIO-----------------------*/

.portfolio {
  padding: 120px 0px;
}

.portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.portfolio-list-item {
  background: var(--WHITE, #fff);
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-img-text {
  transform: translateY(0%);
}

.portfolio-img-conteiner {
  position: relative;
  overflow: hidden;
}

.portfolio-list-img {
  background: url(<path-to-image>),
    lightgray -25.026px 0px / 125% 100% no-repeat;
  width: 100%;
}

.portfolio-img-text {
  position: absolute;
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  top: 0;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-item-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-left: 16px;
  margin-bottom: 8px;
}

.portfolio-list-iten-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-left: 16px;
}

/*----------------------------------------*/

/*-----------------FOOTER-----------------------*/

.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  padding: 100px 0px;
}

.footer-block-left {
  margin-right: 120px;
}

.footer-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-web {
  color: var(--CLOUD, #f4f4fd);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-blocks-container {
  display: flex;
  max-width: 100%;
  width: 1158px;
  margin: 0 auto;
  align-items: baseline;
}

.footer-social-title {
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-social-list {
  gap: 16px;
  display: flex;
}

.footer-list-icon {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.foter-social-list-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foter-social-list-link:hover,
.foter-social-list-link:focus {
  background-color: #31d0aa;
}

.svg-soc-footer {
  fill: #f4f4fd;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--DAIRY, #fcfcfc);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background-color: #e7e9fc;
  stroke-width: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
  background-color: #404bbf;
  border: none;
  fill: #fff;
}

.modal-close-btn:focus {
  border: none;
  background-color: #404bbf;
  fill: #fff;
}

.svg-modal-close-btn {
  stroke: rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-input {
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  outline: transparent;
  padding-left: 38px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border: 1px solid #4d5ae5;
}

.modal-input:focus + .svg-modal-input-icon {
  fill: #4d5ae5;
}

.modal-submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  margin-left: 100px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:hover {
  background-color: #404bbf;
  border: none;
}

.modal-submit-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-submit-btn-text {
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.modal-label {
  display: block;
  color: var(--LIGHT-SLATE, #8e8f99);
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-input-wrap {
  position: relative;
}

.svg-modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-input-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input::placeholder {
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-input-comment:focus {
  border-color: #4d5ae5;
}

.modal-field-check {
  margin-bottom: 24px;
}

.modal-checkbox {
  margin-right: 8px;
}

.modal-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-checkbox-input:checked + label span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-checkbox-link {
  color: var(--IRIS, #4d5ae5);
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.footer-form {
  margin-left: 80px;
}

.footer-form-title {
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-sub-form {
  display: flex;
  gap: 24px;
}

.footer-input-text {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.footer-input-text::placeholder {
  color: #ffffff;
}

.footer-form-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.svg-footer-btn-icon {
  margin-left: 16px;
  stroke: #ffffff;
}
